@import "syntax-variables";
@import "ui-variables";


atom-text-editor .highlight.error-choice-highlight .region {
  background-color: @syntax-color-removed;
  opacity: .8;
}

atom-text-editor div.line {
  &.active {
    opacity: 1;
  }
  &.inactive {
    opacity: .5;
    &.suggested {
      opacity: 1;
      background-color: @syntax-color-renamed;
      background-opacity: .5;
    }
  }
}

atom-text-editor div.line.definition span {
  background-color: @syntax-color-renamed;
  opacity: 1;
}

atom-overlay.error-choice-button {
  // background-color: @tool-panel-background-color;
  background-color: @background-color-warning;
  border-color: @tool-panel-border-color;
  color: @text-color-highlight;
  padding: @component-padding;
  font-family: @font-family;
}

atom-overlay {

  &.resolution-widget {
    // background-color: @tool-panel-background-color;
    font-family: @font-family;
  }

  div.resolution-class-block {

    &:not(:last-of-type) {
      padding-right: .5em;
      border-right: 1px white dashed;
    }

    &:not(:first-of-type) {
      padding-left: .5em;
    }

    padding: @component-padding;
    background-color: @background-color-info;
    border-color: @tool-panel-border-color;
    color: @text-color-highlight;

    float: left;

    div.resolution-class-header {
      font-weight: bold;
    }

    div.suggestion {
      margin-top: @component-padding;
      border: 1px white dotted;
      text-align: center;
    }

  }

}
