@import "syntax-variables";
@import "ui-variables";


.highlight {

  &.error-choice-highlight .region {
    background-color: @syntax-color-removed;
    opacity: .8;
  }

  &.extension-highlight, &.resolution-highlight {
    .region {
      background-color: @background-color-info;
      opacity: .6;
    }
  }

}

atom-text-editor div.line {
  &.active {
    opacity: 1;
  }
  &.inactive {
    opacity: .5;
    &.suggested {
      opacity: 1;
      background-color: @syntax-color-renamed;
      background-opacity: .5;
    }
  }
}

atom-text-editor div.line.definition span {
  background-color: @syntax-color-renamed;
  opacity: 1;
}

atom-overlay.error-choice-button {

  background-color: @background-color-warning;
  border-color: @tool-panel-border-color;
  color: @text-color-highlight;
  padding: @component-padding;
  font-family: @font-family;
  opacity: .8;

  &:hover {
    opacity: 1;
    cursor: pointer;
    z-index: 100;
  }

}

atom-overlay.extension-widget {

  font-family: @font-family;
  background-color: @background-color-info - 30%;
  color: @text-color-highlight;

  div div {

    float: left;
    padding: @component-padding;

    &:not(:last-of-type) {
      border-right: 1px white dashed;
    }

    &:not(:first-of-type) {
      font-weight: bold;
      &:hover {
        background-color: @background-color-info;
        cursor: pointer;
      }
    }

  }

}

atom-overlay {

  &.resolution-widget {
    font-family: @font-family;
  }

  div.resolution-class-block {

    &:not(:last-of-type) {
      border-right: 1px white dashed;
    }

    &:not(:first-of-type) {
    }

    &:hover {
      background-color: @background-color-info;
    }

    background-color: @background-color-info - 30%;
    border-color: @tool-panel-border-color;
    color: @text-color-highlight;

    float: left;

    div.resolution-class-header {
      font-weight: bold;
      padding: @component-padding;
      cursor: default;
    }

    div.suggestion {
      border-top: 1px white dotted;
      text-align: center;
      padding: @component-padding;
      cursor: pointer;
    }

  }

}
